@import "tailwindcss";

body {
  font-family: system-ui, -apple-system, sans-serif;
  font-feature-settings: "rlig" 1, "calt" 1;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 0.5s ease-in-out;
}

.border-3 {
  border-width: 3px;
}
